.Panel {
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    margin-bottom: 1rem;
    color: #e37878;
    font-size: 20px;
}

.PanelElement {
    margin: 1rem;
    align-self: center;
}

.ArtistPreview {
    flex-direction: column;
    background-color: #8BC5FF;
    color: white;
    font-weight: 700;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
    width: 12rem;
}

.Row {
    display: flex;
    justify-content: space-between;
}

::selection {
    background-color: #C3CFE2;
}

.ArtistNameWrapper {
	align-items: center;
	justify-content: center;
}

.ArtistName {
	text-transform: uppercase;
    color: white;

    font-size: 25px;
    margin-bottom: 0.5rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ArtistInfo {
    font-size: 14px;
    margin: 0.1rem;
    flex-wrap: wrap;
    color: #e3f0fc;
    letter-spacing: 0.01rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ArtistResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
