.Panel {
    border-top: 0.03rem solid #e66465;
    margin: 1rem 3rem;
}

.Title {
    color: #8BC5FF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0rem;
}

.Info {
    color: #9dccfc;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform:uppercase;
}

.AlbumPanel {
    display: flex;
    flex-wrap: wrap;
}

.ShowHide {
    background-color: #8BC5FF;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-transform: capitalize;
}

.ShowHide:hover {
    background-color: #9dccfc;
}
