.SearchInput {
    background-color: white;
    color: #8E78F4;
    font-weight: 600;
    border: none;
    padding: 0.4rem;
    padding-left: 0.8rem;
    border-radius: 0.75rem;
}

.SearchInput::placeholder {
    padding-left: 0.5rem;
}

.SearchInput:focus {
    outline: none;
}

.Panel {
    flex-direction: column;
    background: linear-gradient(20deg, #a7d2fc, #8E78F4);
    font-weight: 700;
    color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.PanelElement {
    margin: 1rem;
    align-self: center;
}

.ArtistPreview {
    flex-direction: column;
    background-color: #e66465;
    color: white;
    font-weight: 700;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    border-radius: 0.75rem;
}

.Row {
    display: flex;
    justify-content: space-evenly;
}

.ArtistName {
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.ArtistInfo {
    font-size: 12px;
    margin: 0.1rem;
}

.ArtistResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
