.TrackPreview {
    display: flex;
    flex-direction: column;
    background-color: #e66465;
    color: white;
    font-weight: 700;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 0.75rem;
    max-width: 15rem;
    min-width: 8rem;
}

.Row {
    display: flex;
    justify-content: space-evenly;
}

::selection {
    background-color: #C3CFE2;
}

.TrackNameWrapper {
	align-items: center;
	justify-content: center;
}

.TrackName {
	text-transform: uppercase;
	background: linear-gradient(20deg, #30CFD0 0%, #8E78F4 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 25px;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.TrackInfo {
    font-size: 14px;
    margin: 0.1rem;
}
