.discoverWrapper {
  background-color: #e66465;
  padding: 1rem;
  display: flex;
  flex: 3;
  flex-direction: column;
}

.discover {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
