.discoverHome {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: none;
}

.discoverTitle {
  align-self: center;
  color: #8bc5ff;
  font-size: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.LoginOrSignUp {
  display: flex;
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 14px;
  color: #8bc5ff;
  letter-spacing: 0rem;
}

.SignUp {
  margin-left: 0.3rem;
  font-weight: 800;
  text-decoration: underline;
  color: #8bc5ff;
}

.ContentWrapper {
  border-top: 0.03rem solid #e66465;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
}
