@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.Option {
    background-color: #e66465;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 0.4rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.Menu {
    display: flex;
    flex-direction: column;
    background-color: #e37878;
    border-radius: 10px;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    align-self: center;
}

.Title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.Sidebar {
    background-color: #e66465;
    margin: 0;
    margin-right: 0.03rem;
    padding: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
