.LogButton {
    font-weight: 700;
    background: none;
	text-transform: uppercase;
    color: #8BC5FF;
    letter-spacing: -0.1rem;
    font-size: 20px;
}


.LogButtonWrapper {
    text-align: center;
    align-self: center;
    width: 7rem;
    border-radius: 10px;
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}
