.LogButton {
    font-weight: 700;
    background: none;
	text-transform: uppercase;
	background: linear-gradient(20deg, #30CFD0 0%, #8E78F4 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;    font-size: 1.2rem;
    letter-spacing: -0.1rem;
}


.LogButtonWrapper {
    text-align: center;
    align-self: center;
    width: 7rem;
    margin-bottom: 1rem;

    border-radius: 10px;
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}
