.Panel {
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    margin-bottom: 1rem;
    color: #e37878;
    font-size: 20px;
}

.PanelElement {
    margin: 1rem;
    align-self: center;
}

.AlbumPreview {
    flex-direction: column;
    background-color: #8BC5FF;
    color: white;
    font-weight: 700;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 0.75rem;
    min-width: 8rem;
    max-width: 11.5rem;
    justify-content: center;
    align-items: center;
    max-height: 18rem;
}

.Row {
    display: flex;
    justify-content: space-between;
}

::selection {
    background-color: #C3CFE2;
}

.AlbumNameWrapper {
	align-items: center;
	justify-content: center;
}

.AlbumName {
	text-transform: uppercase;
    color: white;

    font-size: 25px;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.AlbumInfo {
    font-size: 14px;
    margin: 0.1rem;
    flex-wrap: wrap;
    color: #e3f0fc;
    letter-spacing: 0.01rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}

.AlbumResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ContentWrapper {
    border-top: 0.03rem solid #e66465;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
}
