@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.WelcomeHome {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: none;
}

.WelcomeTitle {
    align-self: center;
    color: #8BC5FF;
    font-family: 'Permanent Marker', cursive;
    font-size:4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.LoginOrSignUp {
    display: flex;
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 14px;
    color: #8BC5FF;
    letter-spacing: 0rem;
}

.SignUp {
    margin-left: 0.3rem;
    font-weight: 800;
    text-decoration: underline;
    color: #8BC5FF;
}

.ContentWrapper {
    border-top: 0.03rem solid #e66465;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
}
