/* Base or universal app styles */

.AppRoot {
    display: flex;
    flex-direction: row;
    color: white;
    letter-spacing: .1rem;
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  ul > li {
    list-style: none;
    margin: none;
    padding: none;
  }

  button {
    border-width: 0;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
  }
