.Panel {
    flex-direction: column;
    color: #e37878;
    font-weight: 700;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 20px;
}

.PanelElement {
    margin: 1rem;
    align-self: center;
}

.TrackPreview {
    flex-direction: column;
    background-color: #8BC5FF;
    color: white;
    font-weight: 700;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
    width: 12rem;
}

.Row {
    display: flex;
    justify-content: space-between;
}

::selection {
    background-color: #C3CFE2;
}

.TrackNameWrapper {
	align-items: center;
	justify-content: center;
}

.TrackName {
	text-transform: uppercase;
    color: white;
    font-size: 25px;
    margin-bottom: 0.5rem;
    margin-top: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.TrackInfo {
    font-size: 14px;
    margin: 0.1rem;
    flex-wrap: wrap;
    color: #e3f0fc;
    letter-spacing: 0.01rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.TrackRating {
    display: flex;
    flex: 1;
    align-self: flex-start;
    font-size: 14px;
    margin: 0.1rem;
    flex-wrap: wrap;
    color: #e37878;
    letter-spacing: 0.01rem;
    background-color: white;
    width: 1rem;
    border-radius: 5px;
    justify-content: center;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
}

.TrackResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ContentWrapper {
    border-top: 0.03rem solid #e66465;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
}
